$border: 1px solid black;

.grid {
  border: $border;
  display: flex;
  flex-direction: column;

  .row {
    border-bottom: $border;
    display: flex;
    flex-direction: row;
    width: 100%;

    .cell {
      border-right: $border;
    }
  }
}
