body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.collapsible.header {
  transition: top 1s;
}

.collapsed.header {
  top: -85px;
}

.collapsible.footer {
  transition: bottom 1s;
}

.collapsed.footer {
  bottom: -40px;
}

.debug {
  position: absolute;
}
