@import "../../lib/lib.scss";

.scene {
  @include fill-container;
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 480px;
  cursor: pointer;

  .background {
    @include fill-container;
  }

  canvas {
    @include fill-container;
    background: #000;
  }
}
