@import "../../lib/lib.scss";

.border {
  position: absolute;
  top: -10px;
  left: -14px;
  background-size: 100%;
  width: 668px;
  height: 500px;
  z-index: 2;
}

.scene {
  @include fill-container;
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 480px;

  .background {
    @include fill-container;
  }

  canvas {
    @include fill-container;
    background: #000;
  }
}
