@import "../../lib/lib.scss";

.scene {
  @include fill-container;
  display: flex;
  flex-direction: column;

  .background {
    @include fill-container;
  }

  canvas {
    @include fill-container;
    background: #000;
  }
}
