.curtain {
  opacity: 0;
  transition: opacity 0.5s;
  background: #000;
  width: 670px;
  height: 510px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 2;
}

.closed {
  opacity: 1;
  transition: opacity 0.5s;
}
