.curtain {
  opacity: 0;
  transition: opacity 4s;
  background: #000;
  width: 670px;
  height: 510px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 2;

  .msg {
    opacity: 0;
    transition: opacity 2s;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    left: 0;
    width: 640px;
    text-align: center;
    font-size: 62px;
    font-family: cursive;
    color: rgb(204, 5, 5);
  }

  .visible {
    opacity: 1;
    transition: opacity 2s;
  }

  .tryAgain {
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 0;
    width: 640px;
    text-align: center;
    font-size: 22px;
    color: #807f7f;
  }
}

.closed {
  opacity: 1;
  transition: opacity 4s;
  cursor: default;
}
