@import "../../lib/lib.scss";

$color-dialog--border: #fff;
$color-dialog--font: #fff;

@mixin dialog-container {
  border: 1px solid $color-dialog--border;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
  padding: 10px;
}

.dialog {
  position: absolute;
  top: 5%;
  left: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  z-index: 3;

  .message {
    @include dialog-container;

    min-height: 30px;
    color: $color-dialog--font;
  }

  .confirmContainer {
    display: flex;
    justify-content: center;

    .confirm {
      @include dialog-container;

      margin-top: 10px;

      button:first-child {
        margin-right: 10px;
      }
    }
  }
}

.error {
  .message {
    background-color: rgba(228, 8, 8, 0.7);
  }
}

@media screen and (max-width: 640px) {
  .dialog {
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .dialog {
    top: 40%;
  }
}
