@import "./lib/lib.scss";

.app {
  @include fill-container;

  .content {
    position: absolute;
    top: $dimension-header--height;
    right: 0;
    bottom: $dimension-footer--height;
    left: 0;

    .error {
      position: relative;
      width: 100%;
      padding: $gutter-sm;
      border: 1px solid $color-error--border;
      background: $color-error--background;
      color: $color-font-inverse;
      margin: $gutter-sm;
    }
  }

  .game {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -320px;

    .border {
      position: absolute;
      top: -14px;
      left: -14px;
      background-size: 100%;
      width: 668px;
      height: 500px;
      z-index: 2;
    }
  }
}
