@import "./lib/lib.scss";

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .content {
    position: absolute;
    top: $dimension-header--height;
    right: 0;
    bottom: $dimension-footer--height;
    left: 0;

    .error {
      position: relative;
      width: 100%;
      padding: $gutter-sm;
      border: 1px solid $color-error--border;
      background: $color-error--background;
      color: $color-font-inverse;
      margin: $gutter-sm;
    }
  }
}
